@{

	ViewData["Title"] = "Clients";
}
<section id="clients">
	<header class ="main-header">
		<h2>
			Clients
		</h2>
		<button class="btn btn-blue  btn-blue-add "> + Add Client</button>
	</header>
	
</section>
