@{

	ViewData["Title"] = "Team Members";
}


<header class="main-header">
    <h2>
        @ViewData["Title"]
    </h2>
        <button class="btn btn-blue  btn-blue-add" id="addMemberBtn">+ Add Members</button>
</header>
    <div class="member-grid">

        <!-- 1 -->
        <div class="member">
            <div class="member-actions">
                <button class="dropdown-toggle">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                    <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Member</a>
                </div>
            </div>
            <div class="member-header">
                <div class="member-title-block">
                <img src="~/images/a3.svg" class="member-icon preview-image2" />
                    <div class="member-title-text">
                        <h4 class="mb-0">Hans Mattin-Lassei</h4>
                        <small class="text-muted">Chief Executive Officer</small>
                    </div>
                </div>
            </div>

            <p class="mb-1">hans@domain.com</p>
            <p class="mb-3">+46 070-123 45 78</p>
            <button class="btn btn-outline-primary w-100">Message</button>
        </div>


        <!-- 2 -->
        <div class="member">
            <div class="member-actions">
                <button class="dropdown-toggle">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                    <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Member</a>
                </div>
            </div>
            <div class="member-header">
                <div class="member-title-block">
                    <img src="~/images/a5.svg" class="member-icon preview-image2" />
                    <div class="member-title-text">
                        <h4 class="mb-0">Jeanette Lindh</h4>
                        <small class="text-muted">Administrator</small>
                    </div>
                </div>
            </div>

            <p class="mb-1">jeanette@domain.com</p>
            <p class="mb-3">+46 070-123 45 78</p>
            <button class="btn btn-outline-primary w-100">Message</button>
        </div>


        <!-- 3 -->
        <div class="member">
            <div class="member-actions">
                <button class="dropdown-toggle">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                    <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Member</a>
                </div>
            </div>
            <div class="member-header">
                <div class="member-title-block">
                <img src="~/images/a2.svg" class="member-icon preview-image2" />
                    <div class="member-title-text">
                        <h4 class="mb-0">Tommy Mattin-Lassei</h4>
                        <small class="text-muted">Chief Technician Officer</small>
                    </div>
                </div>
            </div>

            <p class="mb-1">tommy@domain.com</p>
            <p class="mb-3">+46 070-123 45 78</p>
            <button class="btn btn-outline-primary w-100">Message</button>
        </div>

        <!-- 4 -->
        <div class="member">
            <div class="member-actions">
                <button class="dropdown-toggle">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                    <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Member</a>
                </div>
            </div>
            <div class="member-header">
                <div class="member-title-block">
                <img src="~/images/a6.svg" class="member-icon preview-image2" />
                    <div class="member-title-text">
                        <h4 class="mb-0">Joakim Lindh</h4>
                        <small class="text-muted">Frontend Developer</small>
                    </div>
                </div>
            </div>

            <p class="mb-1">joakim@domain.com</p>
            <p class="mb-3">+46 070-123 45 78</p>
            <button class="btn btn-outline-primary w-100">Message</button>
        </div>


        <!-- 5 -->
        <div class="member">
            <div class="member-actions">
                <button class="dropdown-toggle">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                    <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Member</a>
                </div>
            </div>
            <div class="member-header">
                <div class="member-title-block">
                <img src="~/images/a7.svg" class="member-icon preview-image2" />
                    <div class="member-title-text">
                        <h4 class="mb-0">Therése Lidbom</h4>
                        <small class="text-muted">Fullstack Developer</small>
                    </div>
                </div>
            </div>

            <p class="mb-1">therese@domain.com</p>
            <p class="mb-3">+46 070-123 45 78</p>
            <button class="btn btn-outline-primary w-100">Message</button>
        </div>


       




