@model Business.Models.AddProjectsForm

<div class="modal" id="AddProjectModal">
    <div class="modal-content">
        <div class="modal-header">
        
        <h2>Add Project</h2>

        <button type="button" class="btn-close" data-close="true"></button>
        </div>

               <form asp-action="Add" asp-controller="Project" method="post" enctype="multipart/form-data">
                <div class="upload-box3">
                    <div class="upload-circle3" id="uploadTrigger">
                        <i class="fa-solid fa-camera"></i>
                        <img id="ProjectImagePreview" class="preview-image3" style="display: none;" />
                    </div>

                    <input asp-for="ProjectImage" type="file" accept="image/*" style="display: none;" />
                </div>

            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName">
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ClientName"></label>
                <div class="field-group">
                    <input asp-for="ClientName">
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <input asp-for="Description">
                    <span asp-validation-for="Description"></span>
                </div>
            </div>


            <div class="form-group ">
                <div class="field-group1">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" type="date"  />
                    <span asp-validation-for="StartDate" ></span>
                
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" type="date"  />
                    <span asp-validation-for="EndDate" ></span>
                </div>
            </div>



            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget">
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>

    
            <div class="form-group">
                <label asp-for="Status"></label>
                <div class="field-group">
                <select asp-for="Status" >
                <option value="InProgress">In Progress</option>
                <option value="Completed">Completed</option>
                <option value="OnHold">On Hold</option>
                <option value="Canceled">Canceled</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
            </div>

            <button type="submit" class="create-btn">Create</button>
        </form>
    </div>
</div>


