@using Business.Models;

<div class="client-list surface">
	<table>
		<thead>
			<tr>
				<th class="client-check"><input type="checkbox" /></th>
				<th class="client-info">Client Name</th>
				<th class="client-location">Location</th>
				<th class="client-phone">Phone</th>
				<th class="client-date">Date</th>
				<th class="client-status">Status</th>
				<th class="client-actions"></th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="client-check"><input type="checkbox" /></td>
				<td class="client-info">
					<img class="client-image" src="~/images/a3.svg" alt="" />
					<div class="client-name">EPN Sverige</div>
					<div class="client-email">info@domain.com</div>
				</td>

				<td class="client-location">Stockholm, Sweden</td>
				<td class="client-phone">+46 08 123 456 89</td>
				<td class="client-date">25-05-15</td>
				<td class="client-status">
					<div class="badge success">
						active
					</div>
				</td>
				<td class="client-actions">
					<i class="fa-solid fa-ellipsis" data-modal="true" data-target="#EditClientModal"></i>
				</td>

			</tr>

		</tbody>
	</table>
</div>