@using Business.Models;
@model EditClientForm

<div class="modal" id="EditClientModal">
	<div class="modal-content">
		<div class="modal-header">

			<h3>Edit Client</h3>
			<button type="button" class="btn-close" data-close="true"></button>
		</div>
		<div class="upload-box3">
			<div class="upload-circle3" id="uploadTrigger">
				<i class="fa-solid fa-camera"></i>
				<img id="ClientImagePreview" class="preview-image3" style="display: none;" />
			</div>
			<input type="file" id="projectImageInput" accept="image/*" style="display: none;">
		</div>


		<form novalidate asp-action="EditClient" method="post" asp-controller="Admin" enctype="multipart/form-data">
			
			<div class="form-group">
				<label asp-for="ClientName"></label>
				<div class="field-group">
					<input asp-for="ClientName">
					<span asp-validation-for="ClientName"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Email"></label>
				<div class="field-group">
					<input asp-for="Email">
					<span asp-validation-for="Email"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Location"></label>
				<div class="field-group">
					<input asp-for="Location">
					<span asp-validation-for="Location"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Phone"></label>
				<div class="field-group">
					<input asp-for="Phone">
					<span asp-validation-for="Phone"></span>
				</div>
			</div>

			<button type="submit" class="btn btn-submit btn-blue">Save Change</button>

		</form>
	</div>
</div>
