@using Business.Models;

<!-- 1 -->
<div class="project" data-deadline="2025-06-15">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img1.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>Website Redesign</h4>
                <p class="company">GitLab Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">It is necessary to develop a website redesign in a corporate style.</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a1.svg" />
            <img src="images/a2.svg" />

        </div>
    </div>
</div>

<!-- 2 -->


<div class="project" data-deadline="2025-05-10">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img2.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>Landing Page</h4>
                <p class="company">Bitbucket, Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">It is necessary to create a landing together with the development of design.</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a3.svg" />
            <img src="images/a4.svg" />

        </div>
    </div>
</div>

<!-- 3 -->
<div class="project" data-deadline="2025-05-28">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img3.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>Parser Development</h4>
                <p class="company">Driveway, Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">It is necessary to develop a ticket site parser in python.</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a2.svg" />
            <img src="images/a5.svg" />

        </div>
    </div>
</div>

<!-- 4 -->
<div class="project" data-deadline="2025-06-01">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img4.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>App Development</h4>
                <p class="company">Slack Technologies, Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">Create a mobile application on iOS and Android devices.</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a4.svg" />
            <img src="images/a6.svg" />
            <img src="images/a3.svg" />
        </div>
    </div>
</div>

<!-- 5 -->
<div class="project" data-deadline="2025-06-15">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img5.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>App Development</h4>
                <p class="company">Google, Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">Create a mobile application on iOS and Android devices.</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a7.svg" />
            <img src="images/a3.svg" />

        </div>
    </div>
</div>


<!-- 6 -->
<div class="project" data-deadline="2025-06-15">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img6.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>Admin Dashboard</h4>
                <p class="company">ArtTemplate, Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">Necessary to create Admin Dashboard on Angular 9.</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a5.svg" />
            <img src="images/a4.svg" />

        </div>
    </div>
</div>


<!-- 7 -->
<div class="project" data-deadline="2025-06-15">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img7.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>Web App on Vue.js</h4>
                <p class="company">ArtTemplate, Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">It is necessary to develop a web app on the framework Vue.js</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a7.svg" />
            <img src="images/a8.svg" />

        </div>
    </div>
</div>


<!-- 8 -->
<div class="project" data-deadline="2025-06-15">
    <div class="project-header">
        <div class="project-title-block">
            <img src="images/img8.svg" class="project-icon preview-image1" />
            <div class="project-title-text">
                <h4>App Development</h4>
                <p class="company">Facebook, Inc.</p>
            </div>
        </div>
        <div class="project-actions">
            <button class="dropdown-toggle">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="edit"><i class="fas fa-pen"></i> Edit</a>
                <a href="#" class="add-member"><i class="fas fa-user-plus"></i> Add Member</a>
                <a href="#" class="danger"><i class="fas fa-trash"></i> Delete Project</a>
            </div>
        </div>
    </div>

    <p class="desc">Create a mobile application on iOS and Android devices.</p>

    <div class="project-meta">
        <span class="tag gray">10 weeks left</span>
        <div class="avatars">
            <img src="images/a3.svg" />
            <img src="images/a2.svg" />

        </div>
    </div>
</div>