

@{
	
	ViewData["Title"] = "Projects";
}

<partial name="Partials/Sections/_AddProjects" />

<header class="main-header">
    <h2>
        @ViewData["Title"]
    </h2>
    <button type="button" class="btn btn-blue btn-blue-add" data-modal="true" data-target="#AddProjectModal">+ Add Project</button>
</header>
<div class="projects-grid">
<partial name="Partials/Sections/_ProjectList" />
</div>