<div class="modal" id="editmemberModal">
            <div class="modal-content">
                <span class="close-btn" id="closeEditMemberModal">&times;</span>
                <h3>Edit Member</h3>

                <form id="editMemberForm" enctype="multipart/form-data">
                    <div class="upload-box1">
                        <img id="editProjectImage" class="preview-image2">
                        <input type="file" id="editprojectImageInput1" style="display: none;">
                        <button type="button" class="edit-icon"><i class="fas fa-pencil-alt"></i></button>
                    </div>

                    <div class="date-fields">
                        <div>
                            <label>First Name</label>
                            <input type="text" name="firstName" placeholder="Your first name" />
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input type="text" name="lastName" placeholder="Your last name" />
                        </div>
                    </div>

                    <label>Email</label>
                    <input type="email" id="projectTitle" name="email" placeholder="Your email address" />

                    <label>Phone</label>
                    <input type="text" name="phone" placeholder="Your phone number" />

                    <label>Job Title</label>
                    <input type="text" name="jobTitle" placeholder="Your job title" />

                    <label>Address</label>
                    <input type="text" name="address" placeholder="Your address" />

                    <div class="date-fields">
                        <label>Date of Birth</label><br>
                        <div class="dob-container">
                            <div>
                                <label><br></label>
                                <select id="dob-day" name="dobDay">
                                    <option value="" selected disabled>Day</option>

                                </select>
                            </div>

                            <div>
                                <label><br></label>
                                <select id="dob-month" name="dobMonth">
                                    <option value="" selected disabled>Months</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>

                            <div>
                                <label><br></label>
                                <select id="dob-year" name="dobYear">
                                    <option value="" selected disabled>Year</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="create-btn" id="addBtn">Save Change</button>
                </form>
            </div>
        </div>
    </div>
