
<div class="top-left">
    <div class="search-wrapper">
        <i class="fas fa-search"></i>
        <input type="text" id="searchInput" placeholder="Search anything..." />
    </div>
</div>

<div class="top-actions">
<div class="notification-wrapper" id="notificationToggle">
    <i class="fas fa-bell notification-icon"></i>
    <div class="notification-badge"></div>
</div>
<div class="notification-box" id="notificationBox">
    <div class="notification-header">
        <span>Notifications</span>
    </div>
    <div class="notification-list" id="notificationList"></div>
</div>


<i class="fa-duotone fa-solid fa-gear"></i>

    <img src="~/images/a2.svg" alt="Profile" class="avatar" />
</div>
    